<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Younique.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>522F8C7D1FA2852F0017BBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522F8C911FA2852F0017BBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>522F8C9C1FA2852F0017BBF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
